/* Font — PTSans */
@font-face {
    font-family: 'PT-Sans';
    src: url('/fonts/PTSans/PT-Sans_Regular.woff2') format('woff2'),
        url('/fonts/PTSans/PT-Sans_Regular.woff') format('woff'),
        url('/fonts/PTSans/PT-Sans_Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PT-Sans';
    src: url('/fonts/PTSans/PT-Sans_Bold.woff2') format('woff2'),
        url('/fonts/PTSans/PT-Sans_Bold.woff') format('woff'),
        url('/fonts/PTSans/PT-Sans_Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PT-Sans';
    src: url('/fonts/PTSans/PT-Sans_Italic.woff2') format('woff2'),
        url('/fonts/PTSans/PT-Sans_Italic.woff') format('woff'),
        url('/fonts/PTSans/PT-Sans_Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'PT-Sans';
    src: url('/fonts/PTSans/PT-sans_Bold_Italic.woff2') format('woff2'),
        url('/fonts/PTSans/PT-Sans_Bold_italic.woff') format('woff'),
        url('/fonts/PTSans/PT-Sans_Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/* Font — MadeEvolveSansEVO */
@font-face {
    font-family: 'MADE Evolve Sans EVO';
    src: url('/fonts/MadeEvolveSansEVO/MadeEvolveSansEVO-Thin.woff2') format('woff2'),
        url('/fonts/MadeEvolveSansEVO/MadeEvolveSansEVO-Thin.woff') format('woff'),
        url('/fonts/MadeEvolveSansEVO/MadeEvolveSansEVO-Thin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'MADE Evolve Sans EVO';
    src: url('/fonts/MadeEvolveSansEVO/MadeEvolveSansEVO-Light.woff2') format('woff2'),
        url('/fonts/MadeEvolveSansEVO/MadeEvolveSansEVO-Light.woff') format('woff'),
        url('/fonts/MadeEvolveSansEVO/MadeEvolveSansEVO-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'MADE Evolve Sans EVO';
    src: url('/fonts/MadeEvolveSansEVO/MadeEvolveSansEVO.woff2') format('woff2'),
        url('/fonts/MadeEvolveSansEVO/MadeEvolveSansEVO.woff') format('woff'),
        url('/fonts/MadeEvolveSansEVO/MadeEvolveSansEVO.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'MADE Evolve Sans EVO';
    src: url('/fonts/MadeEvolveSansEVO/MadeEvolveSansEVO-Medium.woff2') format('woff2'),
        url('/fonts/MadeEvolveSansEVO/MadeEvolveSansEVO-Medium.woff') format('woff'),
        url('/fonts/MadeEvolveSansEVO/MadeEvolveSansEVO-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MADE Evolve Sans EVO';
    src: url('/fonts/MadeEvolveSansEVO/MadeEvolveSansEVO-Bold.woff2') format('woff2'),
        url('/fonts/MadeEvolveSansEVO/MadeEvolveSansEVO-Bold.woff') format('woff'),
        url('/fonts/MadeEvolveSansEVO/MadeEvolveSansEVO-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Body */
body {
    display: flex;
    flex-direction: column;
    font-family: 'PT-Sans', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1920px;
}

/* Header */
.header {
    position: relative;
    color: #FFFFFF;
}

.header__wrapper {
    width: 100%;
    position: fixed;
    background: #013767;
}

.header__wrapper .container {
    padding: 8px 10px 10px;
    display: grid;
    grid-template-columns: calc(50% - 130px) 260px calc(50% - 130px);
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
    color: #FFFFFF;
}

.header__wrapper a {
    font-weight: normal;
    color: #013767;
}

.header a:hover {
    text-decoration: underline;
}

.header__controls {
    display: flex;
}

.controls--left {
    justify-content: start;
}

.controls__item {
    width: 60px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    cursor: pointer;
    fill: #FFFFFF;
}

.item--burgerMenu svg {
    width: 26px;
}

.item--language {
    position: relative;
    cursor: default;
}

.item--language ul {
    padding: 3px 14px;
    position: absolute;
    z-index: 10;
    top: 35px;
    display: none;
    border-radius: 2px;
    background-color: #FFFFFF;
}

.item--language ul li {
    margin: 0 0 3px;
}

.item--language:hover ul {
    display: block;
}

.item--visuallyImpaired svg {
    width: 30px;
}

.controls--right {
    justify-content: end;
}

.item--search svg {
    width: 26px;
}

.searchFieldPC {
    position: relative;
    display: flex;
    justify-content: end;
}

.searchFieldPC__input {
    width: 490px;
    padding: 0 56px 0 15px;
    display: flex;
    font-size: 24px;
    line-height: 30px;
    border-radius: 2px;
}

.searchFieldPC__input::placeholder {
    color: #B9B9B9;
}

.searchFieldPC__button {
    width: 56px;
    height: 100%;
    padding: 0 15px;
    position: absolute;
    display: flex;
    cursor: pointer;
}

.item--Mobile {
    display: none;
}

.header__targetMenu {
    display: flex;
    align-items: end;
    column-gap: 50px;
}

.targetMenu--left {
    justify-self: end;
    justify-content: end;
}

.targetMenu--right {
    justify-content: start;
}

.targetMenu__item {
    position: relative;
    padding: 3px 24px 5px;
    border-radius: 4px 4px 0 0;
    background-color: #013767;
    cursor: default;
}

.targetMenu__item:hover {
    color: #013767;
    background-color: #FFFFFF;
}

.targetMenu__item svg {
    width: 16px;
    fill: #FFFFFF;
    margin: 0 0 0 14px;
}

.targetMenu__item:hover svg {
    fill: #013767;
}

.targetMenu__item ul {
    max-height: 680px;
    padding: 22px 0 14px 0;
    position: absolute;
    top: 42px;
    z-index: 20;
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
    background-color: #FFFFFF;
}

.targetMenu--left .targetMenu__item ul {
    margin: 0 -1240px 0 0;
    left: 0;
    border-radius: 0 4px 4px 4px;
}

.targetMenu--right .targetMenu__item ul {
    margin: 0 0 0 -1240px;
    right: 0;
    border-radius: 4px 0 4px 4px;
}

.targetMenu__item li {
    padding: 0 22px 8px;
    width: 310px;
}

.targetMenu__item li:has(span):first-child {
    padding: 0 22px 20px;
}

.targetMenu__item li:has(span) {
    padding: 20px 22px 20px;
}

.targetMenu__item span {
    font-weight: bold;
    color: #B8374E;
}

.targetMenu__item:hover ul {
    display: flex;
}

.header__logoImage {
    padding: 0 70px 10px;
    display: flex;
    justify-content: center;
    align-items: end;
    grid-row-start: span 2;
}

.header__logoImage img {
    width: 100%;
    fill: #013767;
}

.header__logoText {
    padding: 95px 0 15px;
    font-size: 45px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    background-color: #013767;
}

/* Burger menu */
.burger__wrapper {
    height: 100vh;
    width: 100%;
    padding: 30px 75px 0;
    position: fixed;
    top: 0;
    z-index: 30;
    font-weight: bold;
    background-color: #013767;
}

.burger__closeButton {
    width: 20px;
    position: absolute;
    top: 25px;
    right: 25px;
    fill: #FFFFFF;
    cursor: pointer;
}

.burger__top {
    display: flex;
    align-items: end;
}

.burger__socialMedia {
    margin: 0 40px 0 0;
    display: flex;
    column-gap: 18px;
}

.socialMedia__link {
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link--instagram {
    background-color: #FE2A72;
}

.link--instagram img {
    height: 64.444%;
    width: 64.444%;
}

.link--vk {
    background-color: #0E90D2;
}

.link--vk img {
    height: 44.178%;
    width: 74.289%;
}

.link--youtube {
    background-color: #BE0F34;
}

.link--youtube img {
    height: 44.178%;
    width: 62.244%;
}

.link--facebook {
    background-color: #3B5999;
}

.link--facebook img {
    height: 82.311%;
    width: 42.155%;
}

.link--telegram {
    background-color: #29A0DC;
}

.link--telegram img {
    height: 54.2%;
    width: 66.244%;
}

.link--tiktok {
    background-color: #8600AD;
}

.link--tiktok img {
    height: 68.267%;
    width: 60.222%;
}

.link--webmail {
    background-color: #B1B500;
}

.link--webmail img {
    height: 50.111%;
    width: 62.4%;
}

.burger__studyingWeek {
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
}

.burger__burgerMenu {
    margin: 100px 0 0 0;
    display: flex;
    column-gap: 120px;
}

.burgerMenu--Mobile {
    display: none;
}

.burgerMenu--PC .burgerMenu__list {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.burgerMenu--PC .list--levelOne {
    width: 300px;
}

.burgerMenu--PC .list--levelTwo {
    padding: 15px 0 75px 0;
    gap: 25px 155px;
    overflow: auto hidden;
}

.burgerMenu--PC .burgerMenu__item {
    cursor: pointer;
}

.burgerMenu--PC .item--levelOne {
    margin: 0 0 42px 0;
    font-family: 'MADE Evolve Sans EVO', sans-serif;
    font-size: 42px;
    line-height: 42px;
    font-weight: 500;
}

.burgerMenu--PC .item--levelTwo {
    width: 340px;
    font-size: 25px;
    line-height: 25px;
}

.burgerMenu--PC .burgerMenu__item:hover,
.burgerMenu--PC .burgerMenu__item a:hover {
    text-decoration: none;
    color: #E06A7E;
}

.burgerMenu--PC .item--levelThree {
    width: 340px;
    padding: 0 0 0 30px;
    font-size: 22px;
    line-height: 22px;
}

.burgerMenu--PC .item--selected {
    color: #E06A7E;
}

/* Main */
.main {
    flex-grow: 1;
}










@media screen and (max-width: 1600px) {
    .header {
        position: relative;
        color: #FFFFFF;
    }

    .header__wrapper {
        width: 100%;
        position: fixed;
        background: #013767;
    }

    .header__wrapper .container {
        padding: 12px 5px 0;
        display: grid;
        grid-template-columns: calc(50% - 45px) 90px calc(50% - 45px);
        font-size: 18px;
        line-height: 22px;
        font-weight: bold;
        color: #FFFFFF;
    }

    .header__wrapper a {
        font-weight: normal;
        color: #013767;
    }

    .header a:hover {
        text-decoration: underline;
    }

    .header__controls {
        display: flex;
    }

    .controls--left {
        justify-content: start;
    }

    .controls__item {
        width: 52px;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        cursor: pointer;
        fill: #FFFFFF;
    }

    .item--burgerMenu svg {
        width: 22px;
    }

    .item--language {
        position: relative;
        cursor: default;
    }

    .item--language ul {
        padding: 3px 14px;
        position: absolute;
        z-index: 10;
        top: 27px;
        display: none;
        border-radius: 2px;
        background-color: #FFFFFF;
    }

    .item--language ul li {
        margin: 0 0 3px;
    }

    .item--language:hover ul {
        display: block;
    }

    .item--visuallyImpaired svg {
        width: 24px;
    }

    .controls--right {
        justify-content: end;
    }

    .item--search svg {
        width: 22px;
    }

    .searchFieldPC {
        position: relative;
        display: flex;
        justify-content: end;
    }

    .searchFieldPC__input {
        width: 310px;
        padding: 0 30px 0 4px;
        display: flex;
        font-size: 18px;
        line-height: 22px;
        border-radius: 2px;
    }

    .searchFieldPC__input::placeholder {
        color: #B9B9B9;
    }

    .searchFieldPC__button {
        width: 30px;
        height: 100%;
        padding: 0 4px;
        position: absolute;
        display: flex;
        cursor: pointer;
    }

    .item--Mobile {
        display: none;
    }

    .header__targetMenu {
        padding: 5px 0 0 0;
        display: flex;
        align-items: end;
        column-gap: 0;
    }

    .targetMenu--left {
        justify-self: end;
        justify-content: end;
    }

    .targetMenu--right {
        justify-content: start;
    }

    .targetMenu__item {
        position: static;
        padding: 10px 10px 20px;
        border-radius: 4px 4px 0 0;
        background-color: #013767;
        cursor: default;
    }

    .targetMenu__item:hover {
        color: #013767;
        background-color: #FFFFFF;
    }

    .targetMenu__item svg {
        width: 12px;
        fill: #FFFFFF;
        margin: 0 0 0 10px;
    }

    .targetMenu__item:hover svg {
        fill: #013767;
    }

    .targetMenu__item ul {
        max-height: 580px;
        width: 100%;
        max-width: 100%;
        padding: 20px 10px;
        position: absolute;
        top: 100%;
        z-index: 20;
        display: none;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 16px;
        line-height: 20px;
        font-weight: normal;
        overflow-x: auto;
        background-color: #FFFFFF;
    }

    .targetMenu--left .targetMenu__item ul {
        margin: 0;
        left: 0;
        border-radius: 0 4px 4px 4px;
    }

    .targetMenu--right .targetMenu__item ul {
        margin: 0;
        right: 0;
        border-radius: 4px 0 4px 4px;
    }

    .targetMenu__item li {
        padding: 0 10px 5px;
        width: 33.333%;
    }

    .targetMenu__item li:has(span):first-child {
        padding: 0 10px 15px;
    }

    .targetMenu__item li:has(span) {
        padding: 20px 10px 15px;
    }

    .targetMenu__item span {
        font-weight: bold;
        color: #B8374E;
    }

    .targetMenu__item:hover ul {
        display: flex;
    }

    .header__logoImage {
        padding: 0 10px 20px;
        display: flex;
        justify-content: center;
        align-items: end;
        grid-row-start: span 2;
    }

    .header__logoImage img {
        width: 100%;
        fill: #013767;
    }

    .header__logoText {
        display: none;
    }

    /* Burger menu */
    .burger__wrapper {
        height: 100vh;
        width: 100%;
        padding: 50px 50px 0;
        position: fixed;
        top: 0;
        z-index: 30;
        font-weight: bold;
        background-color: #013767;
    }

    .burger__closeButton {
        width: 20px;
        position: absolute;
        top: 25px;
        right: 25px;
        fill: #FFFFFF;
        cursor: pointer;
    }

    .burger__socialMedia {
        margin: 0 40px 0 0;
        display: flex;
        column-gap: 18px;
    }

    .socialMedia__link {
        height: 45px;
        width: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .link--instagram {
        background-color: #FE2A72;
    }

    .link--instagram img {
        height: 64.444%;
        width: 64.444%;
    }

    .link--vk {
        background-color: #0E90D2;
    }

    .link--vk img {
        height: 44.178%;
        width: 74.289%;
    }

    .link--youtube {
        background-color: #BE0F34;
    }

    .link--youtube img {
        height: 44.178%;
        width: 62.244%;
    }

    .link--facebook {
        background-color: #3B5999;
    }

    .link--facebook img {
        height: 82.311%;
        width: 42.155%;
    }

    .link--telegram {
        background-color: #29A0DC;
    }

    .link--telegram img {
        height: 54.2%;
        width: 66.244%;
    }

    .link--tiktok {
        background-color: #8600AD;
    }

    .link--tiktok img {
        height: 68.267%;
        width: 60.222%;
    }

    .link--webmail {
        background-color: #B1B500;
    }

    .link--webmail img {
        height: 50.111%;
        width: 62.4%;
    }

    .burger__studyingWeek {
        margin: 0 0 0 auto;
        font-size: 20px;
        line-height: 20px;
        font-weight: bold;
    }

    .burger__burgerMenu {
        margin: 60px 0 0 0;
        display: flex;
        column-gap: 75px;
    }

    .burgerMenu--Mobile {
        display: none;
    }

    .burgerMenu--PC .burgerMenu__list {
        width: 100%;
        height: 800px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .burgerMenu--PC .list--levelOne {
        width: 230px;
    }

    .burgerMenu--PC .list--levelTwo {
        padding: 5px 0 25px 0;
        gap: 15px 50px;
        overflow: auto hidden;
    }

    .burgerMenu--PC .burgerMenu__item {}

    .burgerMenu--PC .item--levelOne {
        margin: 0 0 30px 0;
        font-family: 'MADE Evolve Sans EVO', sans-serif;
        font-size: 30px;
        line-height: 30px;
        font-weight: 500;
    }

    .burgerMenu--PC .item--levelTwo {
        width: 380px;
        font-size: 20px;
        line-height: 24px;
    }

    .burgerMenu--PC .item--levelThree {
        width: 340px;
        padding: 0 0 0 30px;
        font-size: 18px;
        line-height: 22px;
    }
}










@media screen and (max-width: 768px) {
    .header {
        position: relative;
        color: #FFFFFF;
    }

    .header__wrapper {
        width: 100%;
        position: fixed;
        background: #013767;
    }

    .header__wrapper .container {
        padding: 0 10px 8px;
        display: grid;
        grid-template-columns: calc(50% - 65px) 130px calc(50% - 65px);
        font-size: 18px;
        line-height: 22px;
        font-weight: bold;
        color: #FFFFFF;
    }

    .header__wrapper a {
        font-weight: normal;
        color: #013767;
    }

    .header a:hover {
        text-decoration: underline;
    }

    .header__controls {
        margin: 0 0 7px 0;
        display: flex;
    }

    .controls--left {
        justify-content: start;
    }

    .controls__item {
        width: 52px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        cursor: pointer;
        fill: #FFFFFF;
    }

    .item--burgerMenu svg {
        width: 22px;
    }

    .item--language {
        position: relative;
        cursor: default;
    }

    .item--language ul {
        padding: 3px 14px;
        position: absolute;
        z-index: 10;
        top: 35px;
        display: none;
        border-radius: 2px;
        background-color: #FFFFFF;
    }

    .item--language ul li {
        margin: 0 0 3px;
    }

    .item--language:hover ul {
        display: block;
    }

    .item--visuallyImpaired svg {
        width: 24px;
    }

    .controls--right {
        justify-content: end;
    }

    .item--search svg {
        width: 22px;
    }

    .searchFieldMobile {
        height: 30px;
        padding: 0 6px;
        grid-column: span 3;
        position: relative;
        display: flex;
        justify-content: end;
    }

    .searchFieldMobile__input {
        width: 100%;
        padding: 0 38px 0 8px;
        font-size: 16px;
        line-height: 20px;
        border-radius: 2px;
    }

    .searchFieldMobile__input::placeholder {
        color: #B9B9B9;
    }

    .searchFieldMobile__button {
        width: 38px;
        height: 100%;
        padding: 0 8px;
        position: absolute;
        display: flex;
        cursor: pointer;
    }

    .item--PC {
        display: none;
    }

    .item--Mobile {
        display: flex;
    }

    .header__targetMenu {
        padding: 5px 0 0 0;
        display: flex;
        align-items: end;
        column-gap: 0;
    }

    .targetMenu--left {
        justify-self: end;
        justify-content: end;
    }

    .targetMenu--right {
        justify-content: start;
    }

    .targetMenu__item {
        position: static;
        padding: 10px 10px 20px;
        border-radius: 4px 4px 0 0;
        background-color: #013767;
        cursor: default;
    }

    .targetMenu__item:hover {
        color: #013767;
        background-color: #FFFFFF;
    }

    .targetMenu__item svg {
        width: 12px;
        fill: #FFFFFF;
        margin: 0 0 0 10px;
    }

    .targetMenu__item:hover svg {
        fill: #013767;
    }

    .targetMenu__item ul {
        max-height: 580px;
        width: 100%;
        max-width: 100%;
        padding: 20px 10px;
        position: absolute;
        top: 100%;
        z-index: 20;
        display: none;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 16px;
        line-height: 20px;
        font-weight: normal;
        overflow-x: auto;
        background-color: #FFFFFF;
    }

    .targetMenu--left .targetMenu__item ul {
        left: 0;
        border-radius: 0 4px 4px 4px;
    }

    .targetMenu--right .targetMenu__item ul {
        right: 0;
        border-radius: 4px 0 4px 4px;
    }

    .targetMenu__item li {
        padding: 0 10px 5px;
        width: 33.333%;
    }

    .targetMenu__item li:has(span):first-child {
        padding: 0 10px 15px;
    }

    .targetMenu__item li:has(span) {
        padding: 20px 10px 15px;
    }

    .targetMenu__item span {
        font-weight: bold;
        color: #B8374E;
    }

    .targetMenu__item:hover ul {
        display: flex;
    }

    .header__targetMenu {
        height: 0;
        width: 0;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .header__logoImage {
        margin: 0 0 7px 0;
        padding: 0 40px 0;
        display: flex;
        justify-content: center;
        align-items: end;
        grid-row-start: span 2;
    }

    .header__logoImage img {
        width: 100%;
        fill: #013767;
    }

    .header__logoText {
        display: none;
    }

    /* Burger menu */
    .burger__wrapper {
        height: 100vh;
        width: 100%;
        padding: 15px 20px 40px;
        position: fixed;
        top: 0;
        z-index: 30;
        font-weight: bold;
        background-color: #013767;
        overflow-y: auto;
    }

    .burger__closeButton {
        width: 20px;
        position: absolute;
        top: 15px;
        right: 25px;
        fill: #FFFFFF;
        cursor: pointer;
    }

    .burger__top {
        flex-direction: column-reverse;
        align-items: start;
    }

    .burger__socialMedia {
        margin: 0;
        display: flex;
        column-gap: 9px;
    }

    .socialMedia__link {
        height: 38px;
        width: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .link--instagram {
        background-color: #FE2A72;
    }

    .link--instagram img {
        height: 64.444%;
        width: 64.444%;
    }

    .link--vk {
        background-color: #0E90D2;
    }

    .link--vk img {
        height: 44.178%;
        width: 74.289%;
    }

    .link--youtube {
        background-color: #BE0F34;
    }

    .link--youtube img {
        height: 44.178%;
        width: 62.244%;
    }

    .link--facebook {
        background-color: #3B5999;
    }

    .link--facebook img {
        height: 82.311%;
        width: 42.155%;
    }

    .link--telegram {
        background-color: #29A0DC;
    }

    .link--telegram img {
        height: 54.2%;
        width: 66.244%;
    }

    .link--tiktok {
        background-color: #8600AD;
    }

    .link--tiktok img {
        height: 68.267%;
        width: 60.222%;
    }

    .link--webmail {
        background-color: #B1B500;
    }

    .link--webmail img {
        height: 50.111%;
        width: 62.4%;
    }

    .burger__studyingWeek {
        margin: 0 0 10px;
        font-size: 17px;
        line-height: 20px;
        font-weight: bold;
    }

    .burger__burgerMenu {
        margin: 15px 0 0 0;
        display: flex;
        column-gap: 75px;
    }

    .burgerMenu--PC {
        display: none;
    }

    .burgerMenu--Mobile .list--levelTwo {
        height: 0;
        overflow: hidden;
    }

    .burgerMenu--Mobile .item--expanded .list--levelTwo {
        height: unset;
    }

    .burgerMenu--Mobile .item--levelOne {
        padding: 6px 0;
        font-size: 20px;
        line-height: 24px;
    }

    .burgerMenu--Mobile .item--levelOne svg {
        width: 12px;
        fill: #FFFFFF;
    }

    .burgerMenu--Mobile .item--expanded img {
        transform: rotate(180deg);
    }

    .burgerMenu--Mobile .item--levelTwo {
        margin: 18px 0 0 0;
        font-size: 20px;
        line-height: 24px;
        color: #BC4559;
    }

    .burgerMenu--Mobile .item--levelThree {
        padding: 6px 0;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        color: #FFFFFF;
    }
}